<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="AdminManagement" text="管理员管理" permissions="admin_management" iconUrl="menu/m-glygl.png" selected="true">
      <SubTabs>
        <Tab text="创建角色"  iconUrl="menu/m-cjjs.png" href="admin/pageRoleAdd.aspx" keepQueryString="true" target="right"/>
        <Tab text="角色管理"  iconUrl="menu/m-jsgl.png" href="admin/pageRole.aspx" keepQueryString="true" target="right"/>
        <Tab text="管理员管理"  iconUrl="menu/m-glygl2.png" href="admin/pageDepartmentMain.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="AdminConfiguration" text="设置管理" permissions="admin_configuration" iconUrl="menu/m-szgl.png" selected="true">
      <SubTabs>
        <Tab text="管理员设置"  iconUrl="menu/m-glysz.png" href="admin/pageConfigurationAdministrator.aspx" keepQueryString="true" target="right"/>
        <Tab text="所属部门管理"  iconUrl="menu/m-ssbmgl.png" href="admin/pageDepartment.aspx" keepQueryString="true" target="right"/>
        <Tab text="所在区域管理"  iconUrl="menu/m-szqygl.png" href="admin/pageArea.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
