<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Status" text="服务组件状态"  iconUrl="menu/f-fwzjzt.png" permissions="service_status" href="service/pageStatus.aspx" target="right" />
    <Tab id="Task" text="定时任务管理" permissions="service_task" selected="true" iconUrl="menu/f-dsrwgl.png">
      <SubTabs>
        <Tab text="定时任务管理" iconUrl="menu/f-dsrwgl2.png" href="service/pageTask.aspx" target="right" />
        <Tab text="定时任务日志"  iconUrl="menu/f-dsrwrz.png" href="service/pageTaskLog.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Create" text="服务生成管理" permissions="service_create" selected="true"  iconUrl="menu/f-fwscgl.png">
      <SubTabs>
        <Tab text="服务实时监控" iconUrl="menu/f-fwssjk.png" href="service/pageCreateStatus.aspx" target="right" />
        <Tab text="服务生成日志" iconUrl="menu/f-fwscrz.png" href="service/pageCreateTaskLog.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
