<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" />
    <meta name="description" />
    <meta name="application-name" content="安州区人民政府门户网站" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true" />
    <title>{Channel.Title}-{Content.Title}</title>
    <stl:include file="/include/headLink.html"></stl:include>
    <link href="/Content/Main/ContentManage/css/page.css" rel="stylesheet" />
    <script src="/Content/_Common/Base/js/qrcode.min.js"></script>
    <script src="/Content/_Common/Assets/Scripts/jquery.PrintArea.js"></script>
    <script src="/Content/_Common/Base/js/article.js"></script>
    
</head>
<body>
    <div class="wrap">
        <!--背景轮播-->
		<stl:include file="/include/bgSlide.html"></stl:include>
		<!--topBar-->
		<stl:include file="/include/topBar.html"></stl:include>
		<!-- header S -->
		<stl:include file="/include/header.html"></stl:include>
        
        <!-- content S -->
        <div id="content">
            <div class="path">
                <em>您的位置：</em><stl:location separator=">"></stl:location>               
            </div>
            <!-- 正文内容 S -->
            <article class="articleCon">
                <div class="printArea">
                    <!-- 标题 -->
                    <h2 class="title">
                        <stl:content type="Title"></stl:content>
                    </h2>
                    <div class="property">
                        <span>来源：<stl:a><stl:content type="Source"></stl:content></stl:a> </span> <span>发布时间：<stl:content type="AddDate" formatString="yyyy-MM-dd HH:mm"></stl:content></span> <span>浏览次数：<stl:content type="Hits"></stl:content></span> <span class="size">【字体：<a href="javascript:;" data-power-command="reducefont">小</a> <a href="javascript:;" data-power-command="enlargefont">大</a>】</span>
                    </div>
                    <!-- 正文 -->
                    <div class="conTxt" data-power-defaultFontSize="16" data-power-defaultLineHeight="2" data-power-imgMaxWidth="800">
                        <stl:content type="Content"></stl:content>
                    </div>
                </div>
                
                <stl:commentInput></stl:commentInput>

                <div class="qrCode">
                    扫一扫在手机打开当前页
                    <div id="qrcodeContent" title="{Stl.CurrentUrl}" style="width:150px;height:150px;margin:0 auto;padding:20px;box-sizing:border-box;"></div>
                    <script>
                    	(function() {
							var qrcode = new QRCode('qrcodeContent', {
								text: window.location.host + document.getElementById("qrcodeContent").getAttribute("title"),
								width: 110,
								height: 110,
								colorDark : '#000000',
								colorLight : '#ffffff',
								correctLevel : QRCode.CorrectLevel.H
							});
                    	})();
                    </script>
                </div>                
                <!-- comment -->

                <div class="userControl">
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                    <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdMiniList": false,
                            "bdPic": "",
                            "bdStyle": "1",
                            "bdSize": "24"
                        },
                        "share": {}
                    };
                    with (document) {
                        0[(getElementsByTagName('head')[0] || body)
                            .appendChild(createElement('script'))
                            .src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' +
                            ~(-new Date() / 36e5)];
                    }
                    </script>
                    <a href="javascript:;" class="dyBtn">【打印正文】</a>
                    <script>
                    	$(".dyBtn").on("click",function(){
                    		$(".printArea").printArea();
                    	});
                    </script>
                </div>
                <div class="others">
                	<st:navigation>
                		<div class="prev">
                			<span><stl:navigation tipText="上一篇:" emptyText="没有了" type="PreviousContent"></stl:navigation></span>
	                    </div>
	                    <div class="next">
	                        <span><stl:navigation tipText="下一篇:" emptyText="没有了" type="NextContent"></stl:navigation></span>
	                    </div>
                	</st:navigation>
                </div>
                <div class="rankWrap">
                    <!-- 点击排行 -->
                    <div class="boxA" id="djph">
                        <div class="hd">
                            <h3>点击排行</h3>
                        </div>
                        <div class="bd">
                            <ul class="rankList">
                            	<stl:contents topLevel="1" scope="all" order="Hits" totalNum="6">
                            		<stl:if type="ItemIndex" operate="LessThan" value="4">
                            			<stl:yes>
                            				<li class="hot">
			                                    <em class="number">{content.ItemIndex}</em>
			                                    <stl:a title="{content.Title}">{content.Title}</stl:a>
			                                </li>
                            			</stl:yes>
                            			<stl:no>
                            				<li>
			                                    <em class="number">{content.ItemIndex}</em>
			                                    <stl:a title="{content.Title}">{content.Title}</stl:a>
			                                </li>
                            			</stl:no>
                            		</stl:if>
								</stl:contents>
                            </ul>
                        </div>
                    </div>
                    <!-- 热点图文 -->
                    <div class="boxA" id="rdtw">
                        <div class="hd">
                            <h3>热点图文</h3>
                        </div>
                        <div class="bd">
                            <ul class="picPageList picPageListA">
                            	<stl:contents topLevel="1" scope="all" isHot="true" isImage="true" totalNum="2">
                            		<li>
	                                    <div class="pic">
	                                    	<stl:a>
	                                    		<stl:image alt="{content.Title}" width="240" height="180"></stl:image>
	                                    	</stl:a>
	                                    </div>
	                                    <div class="title">
	                                    	<stl:a class="tit" title="{content.Title}">{content.Title}</stl:a>
	                                    </div>
	                                    <span class="titleBg"></span>
	                               </li>
								</stl:contents>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
            <!-- 正文内容 E -->
        </div>
        <!-- content E -->
        <stl:include file="/include/footer.html"></stl:include>
    </div>
</body>
</html>
