<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="安州区人民政府门户网站,安州区政府,安州" />
    <meta name="description" content="安州区人民政府门户网站 安州区  安州政府" />
    <meta name="application-name" content="安州区人民政府门户网站" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true" />
    <title>公众参与_安州区人民政府门户网站</title>
    <stl:include file="/include/headLink.html"></stl:include>
    <link href="/Content/Main/Interaction/css/interaction.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrap">
      <!--背景轮播-->
      <stl:include file="/include/bgSlide.html"></stl:include>
      <!--topBar-->
          <stl:include file="/include/topBar.html"></stl:include>
          <!-- header S -->
          <stl:include file="/include/header.html"></stl:include>
      
      <!-- content S -->
      <div id="content" class="interactionPage">
        <div class="path">              
                 <em>您的位置:</em>
                 <stl:location separator=">"></stl:location>
              </div>
        <div class="mainContent">

          <!-- 回应关切 -->
          <div class="box" id="indHygq">
            <div class="bd">
              <!-- 新闻发布厅 -->
              <div class="xwfbBox" id="indXwfb">
                <div class="xHd">
                  <stl:a class="more" channelIndex="公众参与-新闻发布会">更多&gt;&gt;</stl:a>
                  <h3><stl:a channelIndex="公众参与-新闻发布会">新闻发布会</stl:a></h3>
                </div>
                <div class="xBd">
                  <ul class="infoList">
                    <stl:contents channelIndex="公众参与-新闻发布会" totalNum="6">
                                      <li>
                        <span class="date"><stl:content type="AddDate" formatString="MM-dd"></stl:content></span>
                        <stl:a title="{content.Title}">{content.Title}</stl:a>
                      </li>
                                  </stl:contents>
                  </ul>
                </div>
              </div>
              <!-- 回应关切 -->
              <div class="xwfbBox" id="indYqhy">
                <div class="xHd">
                  <stl:a class="more" channelIndex="公共参与-回应关切">更多&gt;&gt;</stl:a>
                  <h3><stl:a channelIndex="公共参与-回应关切">回应关切</stl:a></h3>
                </div>
                <div class="xBd">
                  <ul class="infoList">
                    <stl:contents channelIndex="公共参与-回应关切" totalNum="6">
                                      <li>
                        <span class="date"><stl:content type="AddDate" formatString="MM-dd"></stl:content></span>
                        <stl:a title="{content.Title}">{content.Title}</stl:a>
                      </li>
                                  </stl:contents>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- 意见征集等切换 -->
          <div class="box indTab" id="indYjzj">
            <div class="hd">
              <span class="more">
                              <stl:a channelIndex="意见征集">更多&gt;&gt;</stl:a>
                              <stl:a channelIndex="网上调查">更多&gt;&gt;</stl:a>
                          </span>
              <ul>
                <li><stl:a channelIndex="意见征集">意见征集</stl:a></li>
                <li><stl:a channelIndex="网上调查">网上调查</stl:a></li>
              </ul>
            </div>
            <div class="bd">
              <ul class="yjzjList">
                <stl:contents channelIndex="意见征集" totalNum="3">
                  <li>
                    <stl:if type="IsCollection" operate="Equals" value="1">
                      <stl:yes>
                        <dl class="on">
                          <dt><stl:content type="AddDate" formatString="MM-dd"></stl:content></dt>
                          <dd>征集中</dd>
                        </dl>
                      </stl:yes>
                      <stl:no>
                        <dl class="end">
                          <dt><stl:content type="AddDate" formatString="MM-dd"></stl:content></dt>
                          <dd>已结束</dd>
                        </dl>
                      </stl:no>
                    </stl:if>
                    <div class="con">
                      <div class="title">
                        <stl:a class="tit" title="{content.Title}">{content.Title}</stl:a>
                      </div>
                      <div class="intro">
                        <stl:content type="Summary"></stl:content>
                      </div>
                    </div>
                  </li>
                              </stl:contents>
              </ul>
              <ul class="infoList">
                <stl:contents channelIndex="网上调查" totalNum="8">
                  <li><stl:a>{content.Title}</stl:a></li>
                              </stl:contents>
              </ul>
            </div>
          </div>
          <!-- 人大代表建议等切换 -->
          <div class="box indTab" id="indRddbjy">
            <div class="hd">
              <span class="more">
                              <stl:a channelIndex="政策解读">更多&gt;&gt;</stl:a>
                              <stl:a channelIndex="政协提案和答复">更多&gt;&gt;</stl:a>
                          </span>
              <ul>
                <li><stl:a channelIndex="政策解读">政策解读</stl:a></li>
                <li><stl:a channelIndex="政协提案和答复">政协提案和答复</stl:a></li>
              </ul>
            </div>
            <div class="bd">
              <ul class="infoList">
                <stl:contents channelIndex="政策解读" totalNum="8">
                  <li>
                    <span class="date"><stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
                    <stl:a title="{content.Title}">{content.Title}</stl:a>
                  </li>
                              </stl:contents>
              </ul>
              <ul class="infoList">
                <stl:contents channelIndex="政协提案和答复" totalNum="8">
                  <li>
                    <span class="date"><stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
                    <stl:a title="{content.Title}">{content.Title}</stl:a>
                  </li>
                              </stl:contents>
              </ul>
            </div>
          </div>
          <div class="clearbox"></div>
          <!-- 书记信箱等切换 -->
          <div class="box indTab" id="indSjxx">
            <div class="hd">
              <span class="more">
                              <stl:a channelIndex="书记、区长信箱">更多&gt;&gt;</stl:a>
                              <stl:a channelIndex="举报投诉">更多&gt;&gt;</stl:a>
                          </span>
              <ul>
                <li><stl:a channelIndex="书记、区长信箱">书记、区长信箱</stl:a></li>
                <li><stl:a channelIndex="举报投诉">举报投诉</stl:a></li>
              </ul>
            </div>
            <div class="bd">
              <div class="item szrxBody">
                <table class="letterList">
                  <thead>
                    <tr>
                      <th class="num">编号</th>
                      <th class="ico">&nbsp;</th>
                      <th class="title">信件主题</th>
                      <th class="dep">类型</th>
                      <th class="state">处理情况</th>
                      <th class="date">写信日期</th>
                    </tr>
                  </thead>
                  <tbody>
                    <stl:contents channelIndex="书记、区长信箱" totalNum="5">
                      <tr>
                        <td class="num">{content.ItemIndex}</td>
                        <td class="ico"><i></i></td>
                        <td class="title">
                          <stl:a>{content.Title}</stl:a>
                        </td>
                        <td class="dep">投诉</td>
                        <td class="state"><i class="s3">已办结</i></td>
                        <td class="date">{content.AddDate}</td>
                      </tr>
                                  </stl:contents>
                  </tbody>
                </table>
              </div>
              <div class="item szrxBody">
                <table class="letterList">
                  <thead>
                    <tr>
                      <th class="num">编号</th>
                      <th class="ico">&nbsp;</th>
                      <th class="title">信件主题</th>
                      <th class="dep">类型</th>
                      <th class="state">处理情况</th>
                      <th class="date">写信日期</th>
                    </tr>
                  </thead>
                  <tbody id="letterContent">
                    <stl:contents channelIndex="举报投诉" totalNum="5">
                      <tr>
                        <td class="num">{content.ItemIndex}</td>
                        <td class="ico"><i></i></td>
                        <td class="title">
                          <stl:a>{content.Title}</stl:a>
                        </td>
                        <td class="dep">投诉</td>
                        <td class="state"><i class="s3">已办结</i></td>
                        <td class="date">{content.AddDate}</td>
                      </tr>
                                  </stl:contents>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- mainContent E -->
        <div class="side">
          <ul class="hdIconsBtn">
            <li class="li1">
              <a href="http://anxian.my.gov.cn/index.aspx"><i></i>给书记区长写信</a>
            </li>
            <li class="li2">
              <a href="http://anxian.my.gov.cn/MailList.aspx"><i></i>信件处理情况</a>
            </li>
            <li class="li3">
              <a href="/hd/ywzsk"><i></i>智能互动</a>
            </li>
            <li class="li5">
              <a href="http://axmail.my.gov.cn:8080/login"><i></i>网上信访</br>投诉受理</a>
            </li>
            <li class="li4">
              <a href="http://liuyan.people.com.cn/city.php?fid=1817"><i></i>人民网地方</br>领导留言板</a>
            </li>
            <li class="li6">
              <a><i></i>政务微信</a>
              <p class="pic">
                <img src='/Content/Main/Base/img/weixin.png' />
              </p>
            </li>
          </ul>
          <!-- 在线访谈 -->
          <div class="box" id="indZxft">
            <div class="hd">
              <stl:a class="more" channelIndex="在线访谈">更多&gt;&gt;</stl:a>
              <h3><stl:a channelIndex="在线访谈">在线访谈</stl:a></h3>
            </div>
            <div class="bd">
              <div class="interviewItem">
                <stl:contents channelIndex="在线访谈" isImage="true" totalNum="1">
                  <div class="interviewPic">
                    <stl:a>
                      <stl:image alt="{content.Title}" width="200" height="150"></stl:image>
                    </stl:a>
                  </div>
                  <div class="interviewCon">
                    <div class="title">
                      <span class="label">主题：</span>
                      <span class="con"><stl:a>{content.Title}</stl:a></span>
                    </div>
                    <div class="date">
                      <span class="label">时间：</span>
                      <span class="con"><stl:content type="AddDate" formatString="yyyy-MM-dd hh:mm"></stl:content></span>
                    </div>
                    <div class="guest">
                      <span class="label">嘉宾：</span>
                      <span class="con">区水务局局长 杨小海</span>
                    </div>
                    <div class="intro">
                      <span class="label">简介：</span>
                      <span class="con"><stl:content type="Summary"></stl:content></span>
                    </div>
                  </div>
                              </stl:contents>
              </div>
              <ul class="itvBtns">
                <li class="li1">
                  <a href="/onlineinterview/">往期访谈</a>
                </li>
                <li class="li2">
                  <a href="/onlineinterview/">访谈预告</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- 阳光政务 -->
          <div class="box" id="indYgzw">
            <div class="hd">
              <stl:a class="more" channelIndex="阳光政务">更多&gt;&gt;</stl:a>
              <h3><stl:a channelIndex="阳光政务">阳光政务</stl:a></h3>
            </div>
            <div class="bd">
              <ul class="ygzwList">
                <stl:contents channelIndex="阳光政务" isImage="true" totalNum="2">
                  <stl:if type="ItemIndex" operate="Equals" value="2">
                    <stl:yes>
                      <li class="last">
                        <div class="pic">
                          <stl:a>
                            <stl:image alt="{content.Title}" width="320" height="240"></stl:image>
                          </stl:a>
                        </div>
                        <div class="con">
                          <dl class="name">
                            <dt>主题：</dt>
                            <dd>
                              <stl:a class="tit" title="{content.Title}">{content.Title}</stl:a>
                            </dd>
                          </dl>
                          <dl class="date">
                            <dt>时间：</dt>
                            <dd><stl:content type="AddDate" formatString="yyyy年MM月dd日"></stl:content></dd>
                          </dl>
                          <dl class="guest">
                            <dt>嘉宾：</dt>
                            <dd>安州区农业局</dd>
                          </dl>
                          <dl class="intro">
                            <dt>简介：</dt>
                            <dd><stl:content type="Summary"></stl:content></dd>
                          </dl>
                        </div>
                      </li>
                    </stl:yes>
                    <stl:no>
                      <li>
                        <div class="pic">
                          <stl:a>
                            <stl:image alt="{content.Title}" width="320" height="240"></stl:image>
                          </stl:a>
                        </div>
                        <div class="con">
                          <dl class="name">
                            <dt>主题：</dt>
                            <dd>
                              <stl:a class="tit" title="{content.Title}">{content.Title}</stl:a>
                            </dd>
                          </dl>
                          <dl class="date">
                            <dt>时间：</dt>
                            <dd><stl:content type="AddDate" formatString="yyyy年MM月dd日"></stl:content></dd>
                          </dl>
                          <dl class="guest">
                            <dt>嘉宾：</dt>
                            <dd>安州区农业局</dd>
                          </dl>
                          <dl class="intro">
                            <dt>简介：</dt>
                            <dd><stl:content type="Summary"></stl:content></dd>
                          </dl>
                        </div>
                      </li>
                    </stl:no>
                  </stl:if>
                              </stl:contents>
                
              </ul>
            </div>
          </div>
        </div>
        <!-- side E -->
      </div>
      <!-- content E -->
      <script>
        $(".indTab").slide({
          delayTime: 0,
          targetCell: ".more a"
        });
        hover($(".hdIconsBtn .li6"), "on")
      </script>
      <!-- footer S -->
      <stl:include file="/include/footer.html"></stl:include>
    </div>
  </body>

</html>
