<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <!-- 用于响应式网站 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>安州市政府门户网</title>
    <link rel="stylesheet" href="/Content/Main/iconfont/iconfont.css">
    <link rel="stylesheet" href="/sq/css/jquery.fullPage.css">
    <link rel="stylesheet" href="/sq/css/beauty.css">
</head>
<body>
    <!-- 侧边导航 -->
    <div id="side-nav" class="visible-desktop">
        <ul class="ewb-nav-list">
            <li class="ewb-side-first">
                <a href="/" title="返回首页">
                    <i class="iconfont icon-shuidi"></i><span>返回<br>首页</span>
                </a>
            </li>
            <li class="ewb-side-node active" data-menuanchor="page1">
                <a href="#page1" title="区情首页">
                    <i class="iconfont icon-shouye"></i><span class="ewb-side-icon2">区情首页</span>
                </a>
            </li>
            <li class="ewb-side-node" data-menuanchor="page2">
                <a href="#page2" title="安州简介">
                    <i class="iconfont icon-jianjie"></i><span class="ewb-side-icon3">安州简介</span>
                </a>
            </li>
            <li class="ewb-side-node" data-menuanchor="page3">
                <a href="#page3" title="安州概况">
                    <i class="iconfont icon-gaikuang"></i><span class="ewb-side-icon4">安州概况</span>
                </a>
            </li>
            <li class="ewb-side-node" data-menuanchor="page4">
                <a href="#page4" title="文化名人">
                    <i class="iconfont icon-ren"></i><span class="ewb-side-icon5">安州名人</span>
                </a>
            </li>
            <li class="ewb-side-node" data-menuanchor="page5">
                <a href="#page5" title="全域旅游">
                    <i class="iconfont icon-lvyouchuxing"></i><span class="ewb-side-icon6">安州旅游</span>
                </a>
            </li>
            <li class="ewb-side-node" data-menuanchor="page6">
                <a href="#page6" title="投资安州">
                    <i class="iconfont icon-iconfonttouzi"></i><span class="ewb-side-icon6">投资安州</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="dowebok" class="fullpage-wrapper">
        <!-- 区情首页 -->
        <div class="ewb-section ewb-section-bg1 section section1 fp-section fp-table" data-anchor="page1">
            <div class="fp-tableCell">
                <div class="logo">
                    <div class="ewb-container2">
                        <img src="/sq/images/1/logo.png" />
                    </div>
                </div>
                <div class="ewb-section-box">
                    <img src="/sq/images/1/center.png" class="ewb-bg1">
                </div>
            </div>
        </div>
        <!-- 安州简介 -->
        <div class="section section2 ewb-section ewb-section-bg2 fp-section fp-table" data-anchor="page2">
            <div class="fp-tableCell">
                <div class="ewb-section-box">
                    <div class="ewb-container2">
                        <div class="ewb-info-title">
                            <img src="/sq/images/2/info_title1.png">
                        </div>
                        <div class="ewb-intro clearfix">
                          <stl:contents ChannelIndex="安州简介" totalNum="1">
                              <div class="ewb-map">
                                <div class="ewb-map-img">
                                  <stl:image alt="区域地图" width="444" height="285"></stl:image>
                                  </div>
                                  <div class="ewb-map-info">
                                      <p>{content.Summary}<stl:a style="margin-left:50px;"><img src="/sq/images/intro_more.png" alt="详情"></stl:a></p>
                                  </div>
                              </div>
                              <div class="ewb-radio-box">
                                  <img class="ewb-radio-title" src="/sq/images/2/radio_title.png">
                                  <div class="ewb-radio" id="a1" style="background-color: rgb(0, 0, 0); width: 350px; height: 300px; cursor: pointer;">
                                    <stl:video imageUrl="/sq/images/2/mv.png" width="350" height="300" isAutoPlay="false"></stl:video>
                                  </div>
                              </div>
                            </stl:contents>
                        </div>
                        <div class="ewb-card">
                            <div class="ewb-card-hd">
                                <img src="/sq/images/2/card_hd.png">
                            </div>
                            <div class="scroll clearfix ewb-card-bd">
                                <ul>
                                    <li>
                                        <img src="/sq/images/2/c1.png" />
                                        <img class="i2" src="/sq/images/2/c_1.png" />
                                        <span></span>
                                    </li>
                                    <li>
                                        <img src="/sq/images/2/c2.png" />
                                        <img class="i2" src="/sq/images/2/c_2.png" />
                                        <span></span>
                                    </li>
                                    <li>
                                        <img src="/sq/images/2/c3.png" />
                                        <img class="i2" src="/sq/images/2/c_3.png" />
                                        <span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 安州概况 -->
        <div class="section section3 ewb-section ewb-section-bg3 fp-section fp-table" data-anchor="page3">
            <div class="fp-tableCell">
                <div class="ewb-section-box">
                    <div class="ewb-container2" style="padding-top:83px;">
                        <div class="ewb-info-title ewb-info-title-gk">
                            <img src="/sq/images/3/info_title2.png">
                        </div>
                        <!-- 自然地理 -->
                        <div class="ewb-survey tab-view">
                          <stl:contents ChannelIndex="安州概况">
                            <stl:if type="ItemIndex" operate="Equals" value="1">
                              <stl:yes>
                                <div class="ewb-survey-hd ewb-survey-hd-1" data-role="head">
                                      <span class="ewb-survey-tt" data-role="tab" data-target="tab-{content.ItemIndex}">
                                          <stl:a title="{content.Title}">{content.Title}</stl:a>
                                      </span>
                                  </div>
                                  <div data-role="body">
                                      <div class="ewb-survey-bd" data-role="tab-content" data-id="tab-{content.ItemIndex}">
                                          <div class="ewb-survey-l">
                                              <h3>{content.SubTitle}</h3>
                                              <p>{content.Summary}<stl:a style="margin-left:50px;"><img src="/sq/images/intro_more.png" alt="详情"></stl:a></p>
                                          </div>
                                          <div class="ewb-survey-r">
                                            <stl:image></stl:image>
                                          </div>
                                      </div>
                                  </div>
                              </stl:yes>
                              <stl:no>
                                <div class="ewb-survey-hd" data-role="head">
                                      <span class="ewb-survey-tt" data-role="tab" data-target="tab-{content.ItemIndex}">
                                          <stl:a title="{content.Title}">{content.Title}</stl:a>
                                      </span>
                                  </div>
                                  <div data-role="body">
                                      <div class="ewb-survey-bd" data-role="tab-content" data-id="tab-{content.ItemIndex}">
                                          <div class="ewb-survey-l">
                                              <h3>{content.SubTitle}</h3>
                                              <p>{content.Summary}<stl:a style="margin-left:50px;"><img src="/sq/images/intro_more.png" alt="详情"></stl:a></p>
                                          </div>
                                          <div class="ewb-survey-r">
                                            <stl:image></stl:image>
                                          </div>
                                      </div>
                                  </div>
                              </stl:no>
                            </stl:if>
                          </stl:contents>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 文化名人 -->
        <div class="section section4 ewb-section ewb-section-bg4 fp-section fp-table" data-anchor="page4">
            <div class="fp-tableCell">
                <div class="ewb-section-box">
                    <div class="ewb-container2">
                        <div class="ewb-info-title ewb-info-title-mr">
                            <img src="/sq/images/4/info_title3.png">
                        </div>
                        <div class="ewb-celeb">
                            <ul class="ewb-celeb-items clearfix">
                              <stl:contents ChannelIndex="安州名人" totalNum="5">
                                <stl:if type="ItemIndex" operate="Equals" value="5">
                                  <stl:yes>
                                    <li class="ewb-celeb-item" style="margin-right:0;">
                                      <stl:a>
                                        <stl:image></stl:image>
                                        <p><i class="iconfont icon-icon1"></i><br>查看更多</p>
                                      </stl:a>
                                      </li>
                                  </stl:yes>
                                  <stl:no>
                                    <li class="ewb-celeb-item">
                                      <stl:a>
                                        <stl:image></stl:image>
                                        <p><i class="iconfont icon-icon1"></i><br>查看更多</p>
                                      </stl:a>
                                      </li>
                                  </stl:no>
                                </stl:if>
                                
                            </stl:contents>
                            </ul>
                        </div>
                    </div>
                    <div class="ewb-bottom">
                        <img src="/sq/images/4/mr_bottom.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- 安州旅游 -->
        <div class="section section5 ewb-section ewb-section-bg5 fp-section fp-table" data-anchor="page5">
            <div class="fp-tableCell">
                <div class="ewb-section-box">
                    <div class="ewb-container2" style="height:100%;">
                        <div class="ewb-info-title ewb-info-title-tour">
                            <img src="/sq/images/5/info_title4.png">
                        </div>
                        <div class="tour">
                            <div class="wb-loop">
                                <ul class="wb-loop-items" id="scroll-container">
                                  <stl:contents ChannelIndex="安州旅游">
                                    <li>
                                      <stl:a title="{content.Title}">
                                        <stl:image></stl:image>
                                        <span>{content.Title}</span>
                                      </stl:a>
                                      </li>
                              </stl:contents>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- 投资安州 -->
        <div class="section section6 ewb-section ewb-section-bg6 fp-section fp-table" data-anchor="page6">
            <div class="fp-tableCell">
                <div class="ewb-section-box">
                    <div class="ewb-container2">
                        <div class="ewb-info-title ewb-info-title-mr">
                            <img src="/sq/images/6/info_title3.png">
                        </div>
                        <div class="ewb-invest">
                            <ul class="ewb-invest-items clearfix">
                                <li class="ewb-invest-item">
                                    <a href="/contents/2172/155.html">
                                        <img class="i1" src="/sq/images/6/i01.png" />
                                        <img class="i2" src="/sq/images/6/i1.png" />
                                    </a>
                                </li>
                                <li class="ewb-invest-item">
                                    <a href="/contents/2172/156.html">
                                        <img class="i3" src="/sq/images/6/i2.png" />
                                        <img class="i4" src="/sq/images/6/i02.png" />
                                    </a>
                                </li>
                                <li class="ewb-invest-item">
                                    <a href="/contents/2172/157.html">
                                        <img class="i1" src="/sq/images/6/i03.png" />
                                        <img class="i2" src="/sq/images/6/i3.png" />
                                    </a>
                                </li>
                                <li class="ewb-invest-item">
                                    <a href="/contents/2172/158.html">
                                        <img class="i3" src="/sq/images/6/i4.png" />
                                        <img class="i4" src="/sq/images/6/i04.png" />
                                    </a>
                                </li>
                                <li class="ewb-invest-item">
                                    <a href="/contents/2172/159.html">
                                        <img class="i1" src="/sq/images/6/i05.png" />
                                        <img class="i2" src="/sq/images/6/i5.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div class="ewb-footer">
                    <div class="ewb-container2">
                        <div class="ewb-area clearfix">
                            <a class="ewb-foot-icon1" href="#" title="党政机关"><img src="/sq/images/foot_icon1.png" alt=""></a>
                            <a class="ewb-foot-icon2" href="#" title="政府网站找错"><img src="/sq/images/foot_icon2.png" alt=""></a>
                            <p class="ewb-foot-copy">
                                主办：安州区人民政府办公室 &nbsp;承办：安州区信息化工作办公室 &nbsp;Tel:+86-0816-4509769 &nbsp;0816-4336030 &nbsp; &nbsp;蜀ICP备12001441号
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面脚本 -->
    <script src="/sq/js/jquery-1.11.0.min.js"></script>
    <script src="/sq/js/jquery.fullPage.min.js"></script>
    <script src="/sq/js/jquery.SuperSlide.js"></script>
    <script src="/sq/js/tabview2.js"></script>
    <script src="/sq/js/beauty.js"></script>
    <!--<script src="/sq/js/ckplayer.js"></script>
    <script type="text/javascript">
        var flashvars={
            f:'/sq/images/2/thy.mp4',
            c:0,
            i:'/sq/images/2/mv.png'
        };
        var video=['/sq/images/2/thy.mp4->video/mp4'];
        CKobject.embed('/sq/images/2//ckplayer.swf','a1','ckplayer_a1','350','300',false,flashvars,video);
    </script>-->

</body>
</html>
